.adm-type, .adm-hole, .adm-unit {
  padding: 10px 15px;
  background-color: orange;
  border-color: coral;
  border-width: 2px;
  border-style: solid;
  border-radius: 20px;
  width: max-content;
}

.adm-sum, .adm-sequence {
  display: grid;
  background-color: lavender;
  justify-items: center;
  align-items: center;
  justify-content: start;
  align-content: start;
  width: max-content;
  border-radius: 20px;
  padding: 10px;
  border-style: solid;
  border-color: skyblue;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto;
  gap: 10px;
  grid-auto-flow: row;
}

.adm-product, .adm-function {
  display: grid;
  background-color: lavender;
  justify-items: center;
  align-items: center;
  justify-content: start;
  align-content: start;
  width: max-content;
  border-radius: 20px;
  padding: 10px;
  border-style: solid;
  border-color: skyblue;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto;
  gap: 10px;
  grid-auto-flow: column;
}

.adm-sequence {
  background-color: transparent;
  border-color: #bbb;
  border-width: 2px;
}

.adm-wrap {
  display: grid;
  background-color: orange;
  justify-items: center;
  align-items: center;
  justify-content: start;
  align-content: start;
  width: max-content;
  border-radius: 20px;
  padding: 10px;
  border-style: solid;
  border-color: coral;
  grid-template-columns: auto;
  grid-template-rows: auto;
  gap: 10px;
}

.adm-sum > div, .adm-product > div, .adm-function > div, .adm-wrap > div {
  justify-self: center;
  align-self: center;
}

.adm-sequence > div.adm-op {
  width: 100%;
  text-align: center;
  color: #666;
  background: #ccc;
  border-radius: 15px;
}

.adm-op, .adm-wrap-label {
  font-size: large;
  font-weight: bold;
  color: #666;
}

.adm-assignment {
  padding: 10px;
}

.adm-assignment-name {
  font-size: large;
  font-weight: bold;
  color: steelblue;
  padding-left: 10px;
}
