body {
  font-family: sans-serif;
}
a, a:visited {
  color: blue;
}
pre {
  background: #eee;
  color: #444;
  margin: 0;
}
.title {
  display: inline-block;
  color: #444;
}
#grid {
  width: 100%;
  display: table;
}
textarea {
  width: 99%;
  border: 1px solid #ddd;
  font-family: monospace;
  color: #444;
}
#input-adm {
  min-height: 400px;
}
#output-graphviz-rendered {
  max-width: 50%;
  max-height: 50%;
  overflow: hidden;
}
#input-adm, #input-stylesheet {
  font-family: monospace;
  font-size: 14px;
}
#output-graphviz-source {
  padding-left: 1em;
  padding-top: 0.5em;
}
.columns {
  display: table-row;
}
.column {
  display: table-cell;
  vertical-align: top;
  padding: 2px;
}
